<div class="row">
  <%= render "shared/show_user" %>
  <aside class="col-md-8">
    <h1><%= t "header.word" %></h1>
    <div class="col-md-10 fl-div-word">

    <div class="search-form">
      <%= form_tag "/search", method: "get" do %>
        <%= text_field_tag :search %>
        <%= submit_tag t "containt.search" %>
      <% end %>
    </div>

    <div class="user-infor">
      <p><%= render @word %></p>
    </div>
  </aside>
</div>
