<% if logged_in? %>
  <div class="row">
    <aside class="col-md-10 col-md-offset-1">
      <h3><%= t "header.word" %></h3>
      <%= render "search_word" %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t "header.word" %></th>
            <th><%= t "header.category" %></th>
          </tr>
        </thead>
        <tbody id="index-word">
          <%= render @words %>
        </tbody>
      </table>
      <%= will_paginate %>
    </aside>
  </div>
<% end %>
