<% provide :title, t(:all_users) %>
<h1><%= t :all_users %></h1>
<div class="panel-body">
  <table class="table">
    <thead>
      <th><%= t "user.name" %></th>
      <th><%= t "user.email" %></th>
      <th class="action"><%= t "action.action" %></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td class="dn-action-padding">
            <% if current_user.admin? && !current_user.current_user?(user) %>
              <%= link_to t(:delete), [:admin, user], method: :delete,
                data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
